@inherits LayoutComponentBase
<div class="content">
    <PropsProvider>
    <MudThemeProvider Theme="MyCustomTheme" />
    <MudDialogProvider DisableBackdropClick="true" CloseOnEscapeKey="false" Position="DialogPosition.Center" />
    <MudSnackbarProvider />
    
        <MudLayout>
            <MudMainContent Class="px-1 pb-16" Style="height:100vh; overflow-y: scroll">
                @Body
                <ProgressIndicatorConnected />
                <Footer />
            </MudMainContent>
        </MudLayout>
    </PropsProvider>
</div>

@code {
    bool _drawerOpen = true;

    MudTheme MyCustomTheme = new MudTheme()
        {
            LayoutProperties = new LayoutProperties()
            {
                AppbarHeight = "120px",
            },
            Palette = new Palette
            {
                Background = Colors.Grey.Lighten4
            }
        };

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}
