@inherits LayoutComponentBase
<div class="content content px-4">
	<MudThemeProvider />
	<MudDialogProvider />
	<MudSnackbarProvider />

	<MudLayout>
		<MudAppBar>
			<MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
			Workout Tracker
		</MudAppBar>
		<MudDrawer @bind-Open="@_drawerOpen">
			<NavMenu />
		</MudDrawer>
		<MudMainContent>
			@Body
		</MudMainContent>
	</MudLayout>
</div>

@code {
	bool _drawerOpen = true;

	void DrawerToggle()
	{
		_drawerOpen = !_drawerOpen;
	}
}
