<RadzenCard>
    <div class="row">
        <div class="col-md-12">
            <div style="width: calc(100% - 5px);">
                <img src="/images/@LogEntry.Exercise.ImagePath" alt="@LogEntry.Exercise.Name" style="width: calc(50% - 5px);margin-left:auto;margin-right:auto;display: block">
            </div>
		</div>
        <div class="col-md-12">
            <h3 class="text-center">
                @LogEntry.Exercise.Name&nbsp;
                @TitleBadge
            </h3>
        <div>Date:</div>
        <b>@LogEntry.Date.ToShortDateString()</b>
		</div>
        <div class="col action-buttons">
            @Actions
		</div>

	</div>
</RadzenCard>

@code {
    
    [Parameter]
    public LogEntryViewModel LogEntry { get; set; }

    [Parameter]
    public RenderFragment Actions { get; set; }

    [Parameter]
    public RenderFragment TitleBadge { get; set; }

}
