@inject FieldSetItemStyles Styles

<div class="row @Styles.Row">
	<div class="col-md-4 align-items-center d-flex">
		<RadzenLabel Text="@Label" />
	</div>
	<div class="col-md-12 @Styles.InputColumn">
		@ChildContent
	</div>
</div>

@code{
	[Parameter]
	public string Label { get; set; }

	[Parameter]
	public RenderFragment ChildContent { get; set; }
}