@inject EditExerciseLogStyles Styles

<FieldSetItem Label="Repetetions:">
	<RadzenNumeric @bind-Value="repetitions" Placeholder="0" Name="Reps" class="@Styles.Input" />
</FieldSetItem>
<FieldSetItem Label="Duration:">
	<RadzenNumeric @bind-Value="duration" Placeholder="0" Name="Duration" class="@Styles.Input" />
</FieldSetItem>
<FieldSetItem Label="Notes:">
	<textarea rows="4" class="form-control" @bind="notes" />
</FieldSetItem>

<div class="row mt-3">
	<div class="col-12">
		<RadzenButton Text="Save" Click="Save" />
		<RadzenButton Text="Cancel" Click="Cancel" ButtonStyle="ButtonStyle.Secondary" class="ml-3" />
	</div>
</div>


@code {

	private int duration = 0;
	private int repetitions = 0;
	private string notes = "";

	[Parameter]
	public int SetNumber { get; set; }

	[Parameter]
	public int CurrentDuration { get; set; }

	[Parameter]
	public int CurrentRestTime { get; set; }

	[Parameter]
	public double CurrentWeight { get; set; }

	[Parameter]
	public EventCallback<Set> SaveSet { get; set; }

	protected override void OnParametersSet()
	{
		duration = CurrentDuration;
		base.OnParametersSet();
	}

	private async Task Save()
	{
		await SaveSet.InvokeAsync(new Set
		{
			CompletionTime = DateTime.UtcNow,
			Duration = TimeSpan.FromSeconds(duration),
			RestTime = TimeSpan.FromSeconds(CurrentRestTime),
			Repetitions = repetitions,
			Weight = CurrentWeight,
			Note = notes,
		});
	}

	private async Task Cancel()
	{
		await SaveSet.InvokeAsync(null);
	}
}
