<form>
    <div class="form-group">
        <label>Endpoint:</label>
        <input type="text" class="form-control" @bind="Props.Url" />
    </div>
    <div class="form-group">
        <label>Key:</label>
        <input type="password" class="form-control" @bind="Props.Secret" />
    </div>
    <button type="button" class="btn btn-outline-success" @onclick="() => Props.Save.InvokeAsync(new Android.EndpointConfiguration(Props.Url, Props.Secret))"><span class="oi oi-plus"></span> Save</button>
</form>

@code{
    [Parameter]
    public EditConfigurationProps Props { get; set; }
}