<h2>Exercise history</h2>
<Virtualize Items="Props.Log" Context="logRecord">
    <ExerciseCard LogEntry="logRecord">
        <Actions>
            @*<button @onclick:preventDefault @onclick="() => EditExercise(logRecord.Entry)" class="btn btn-outline-warning"><span class="oi oi-pencil"></span> Edit</button>*@
            <button @onclick:preventDefault @onclick="() => Props.Delete.InvokeAsync(logRecord.Id)" class="btn btn-outline-danger"><span class="oi oi-trash"></span> Delete</button>
        </Actions>
    </ExerciseCard>
</Virtualize>

@code
{
    [Parameter]
    public ExercisesLogProps Props { get; set; }
}

